@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
    src: url(../fonts/Poppins-Medium.ttf);
    src: url(../fonts/Poppins-Bold.ttf);
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
